<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../static/assets/css/gauge_test.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="gauge_test.js"></script>

<body>

<div class="pie-chart pie-chart1"><span class="center">80%</span></div>


<div class="pie-chart pie-chart2"><span class="center">50%</span></div>


<div class="pie-chart pie-chart3"><span class="center">30%</span></div>


<a href="javascript:replay()">다시그리기</a>

</body>
</html>