
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gauge | CSS Animation</title>
    <link rel="stylesheet" href="gauge_make.css">
</head>

<body>
{#<div class="progress_gauge">#}
    <div class="gauge">
        <div class="progress">
            <div class="bar"></div>
            <div class="needle"></div>
        </div>
        <div class="text">20%</div>
    </div>
{#</div>#}
</body>

</html>