{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
{% load repeat %}
{{ contents | json_script:'jsonData' }}
{%  csrf_token %}
<!-- Resources -->
<script src="https://code.highcharts.com/highcharts.js" xmlns="http://www.w3.org/1999/html"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    #fixed-wrapper {
        float: right;
        position: relative;
        display: flex;
        flex: 0 0 20%;
     }

    #machine_list:nth-child(n){
        flex-direction: column;
        flex: 0 0 auto;
    }


</style>

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->

    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
          <!--[ daily sales section ] start-->
          <div class="col-md-6 col-xl-4">
            <div class="card daily-sales">
              <div class="card-header">
                <h5>Factory</h5>
              </div>
              <div class="card-block">

                <div class="row d-flex align-items-center">
                  <div class="col-9">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                      여기에 현장 정보가 올라갈겁니다.<br />
                      {{ contents.company_name | safe }}
                    </h3>
                    <div style="height: 100%; display: flex; justify-content:center" class="row d-flex align-items-center">
                        <div style="border-radius: 10px;border: 1px solid black; text-align: center;" class="mb-3 col-9">
                            <span style="font-size:100px" class="material-icons">priority_high</span>
                            <p>reshenie 1공장</p>
                            <p>설비에 문제가 발생했습니다.</p>
                        </div>
                    </div>
                  </div>
                </div>

{#                {% if company_info %}#}
{#                    {% for company in company_info %}#}
{#                    <h2> {{ company.company_name }}</h2>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
              </div>
            </div>
          </div>
          <!--[ daily sales section ] end-->
          <!--[ Monthly  sales section ] starts-->
          <div class="col-md-6 col-xl-7">
            <div class="card Monthly-sales">
              <div class="card-header">
                <h5>Machines</h5>
              </div>
              <div class="card-block">
                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                     여기에 설비 정보가 올라갈 예정임<br />
                    {{ contents.machine_name | safe }}
                </h3>
                <div id="machine_list" style="height: 100%; display: flex; justify-content:center" class="row d-flex align-items-center">
                    {% for machine in contents.machine_names %}
                        <div style="border-radius: 10px; float:left; border: 1px solid black; text-align: center;" class="m-4 col-5">
                            <span style="font-size:100px" class="material-icons">priority_high</span>
                            <p>{{ machine }}</p>
                            <p>센서를 확인해 주세요</p>
                        </div>
                    {% endfor %}
                </div>
{#                {% if machine_info %}#}
{#                    {% for machine in machine_info %}#}
{#                    <h2> {{ machine.machine_name }}</h2>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-7">
            <div class="card card-event">
              <div class="card-header">
                <h5>Sensor</h5>
              </div>
              <div class="card-block">
                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                     여기에 센서 리스트 배치될 예정<br />
                </h3>
                <div style="height: 100%; display: flex; justify-content:center" class="row d-flex align-items-center" id="sensor_list">
                    {% for sensor in contents.sensor_tags %}
                        <div style="border-radius: 10px;border: 1px solid black; text-align: center;" class="m-1 col-10">
                            <span style="font-size:100px;" class="material-icons-outlined">sensors</span>
                            <p>{{ sensor }}</p>
                            <p>센서가 정상입니다.</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-auto">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-10 col-md-6">
            <div class="card Recent-Users">
              <div class="card-header">
                <h5>Meta</h5>
              </div>
              <div class="card-block">
{#                <h3 class="f-w-300 d-flex align-items-center m-b-0">#}
{#                     미터기 등장<br />#}
{#                </h3>#}
                <div id="wrapper">
                    <div id="termometer">
                        <div id="temperature" style="height:50%" data-value="0°C"></div>
                        <div id="graduations"></div>
                    </div>
                    <div id="playground">
                        <div id="range">
                            <label for="minTemp"></label><input id="minTemp" type="text" value="-100">
                            <label>
                                <input type="range" min="-100" max="100" value="">
                            </label>
                            <label for="maxTemp"></label><input id="maxTemp" type="text" value="100">
                        </div>
                        <p id="unit">온도 C°</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-7">
            <div>
            </div>
          </div>
          <div class="col-md-6 col-xl-7">
              <div id="fixed-wrapper">
                <a href="http://reshenie.co.kr/" target="_blank" class="btn btn-md btn-primary">
                    <i class="fa fa-rocket" aria-hidden="true"></i> 경고 상황 살펴보기
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
    <script>
        const jsonData = JSON.parse(document.getElementById("jsonData").textContent);
        console.log("jsonData : ", jsonData)

        let sensor_tags = []
        let i = 0
        {% for sensor in contents.sensor_tags %}
            sensor = jsonData.sensor_tags[i]
            sensor_tags.push(sensor)
            i++;
        {% endfor %}
        const sensor_count = sensor_tags.length
        console.log('센서 개수 : ', sensor_count)

        const machine_list = document.querySelector('#machine_list')
        const children = machine_list.querySelectorAll(':scope > div')
        console.log('children : ', children)

        {#children[0].style.textAlign = "center"#}

    </script>
    <script>

        {#pdf 미리보기가 뜨는 현상 발생#}
        const temp = {{ contents.my_board_temperatures | safe }}

        // 클릭 시 온도 단위 바뀜
        const units = {
                Celsius: "°C",
                Fahrenheit: "°F"
            };

        const config = {
            minTemp: -100,
            maxTemp: 100,
            unit: "Celsius"
         };

        // Change min and max temperature values

        const tempValueInputs = document.querySelectorAll("input[type='text']");

        tempValueInputs.forEach((input) => {
            input.addEventListener("change", (event) => {
                const newValue = event.target.value;

                if(isNaN(newValue)) {
                    return input.value = config[input.id];
                } else {
                    config[input.id] = input.value;
                    range[input.id.slice(0, 3)] = config[input.id]; // Update range
                    return setTemperature(); // Update temperature
                }
            });
         });

        // Switch unit of temperature

        const unitP = document.getElementById("unit");

        unitP.addEventListener("click", () => {
            config.unit = config.unit === "Celsius" ? "Fahrenheit" : "Celsius";
            unitP.innerHTML = config.unit + ' ' + units[config.unit];
            return setTemperature();
         })

        // Change temperature
        const range = document.querySelector("input[type='range']");
        const temperature = document.getElementById("temperature");

        range.value = temp[0]
        print("현재 온도 : ", range.value)

        function setTemperature() {
            temperature.style.height = (range.value - config.minTemp) / (config.maxTemp - config.minTemp) * 100 + "%";
            temperature.dataset.value = range.value + units[config.unit];
         }

        range.addEventListener("input", setTemperature);
        setTimeout(setTemperature, 1000);

        function Update(datas){
           range.value = datas

           return setTemperature()
         }

    </script>
    <script>
        function ajaxTest(){
            $.ajax({
                type: "POST",
                // 403 forbidden 방지
                headers: { 'X-CSRFToken': '{{csrf_token}}' },
                url: "draw/",
                data: {
                    'sensor_tag': jsonData.sensor_tags[0]
                },
                error: function() {
                  {#alert('통신실패!!');#}
                },
                success: function(data) {
                    const datas = [
                        data['context'].BarPlot_Board_Temperatures
                    ]
                    console.log(datas)
                    Update(datas)
                }
            });
        }
        playAlert = setInterval(function() {
            ajaxTest();
        }, 60000);
    </script>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
