{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<!-- Resources -->
<script src="https://code.highcharts.com/highcharts.js" xmlns="http://www.w3.org/1999/html"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script type="text/javascript" src="http://www.jlion.com/js/jliontherm2.js"></script>-->
<!--<script src="../gauge/js/jQuery-plugin-progressbar.js"></script>-->
<!--<link rel="stylesheet" href="../gauge/css/jQuery-plugin-progressbar.css">-->
{{ context | json_script:'jsonData' }}

<style>
    {#.gauge {#}
    {#  width: 100%;#}
    {#  max-width: 250px;#}
    {#  font-family: 'Roboto', sans-serif;#}
    {#  font-size: 32px;#}
    {#  color: #004033;#}
    {# }#}
    {##}
    {#.gauge_body {#}
    {#  width: 100%;#}
    {#  height: 0;#}
    {#  padding-bottom: 50%;#}
    {#  background: #b4c0be;#}
    {#  position: relative;#}
    {#  border-top-left-radius: 100% 200%;#}
    {#  border-top-right-radius: 100% 200%;#}
    {#  overflow: hidden;#}
    {# }#}
    {#.gauge_fill {#}
    {#  position: absolute;#}
    {#  top: 100%;#}
    {#  left: 0;#}
    {#  width: inherit;#}
    {#  height: 100%;#}
    {#  background: #009578;#}
    {#  transform-origin: center top;#}
    {#  transform: rotate(0.25turn);#}
    {#  transition: transform 0.2s ease-out;#}
    {# }#}
    {#.gauge_cover {#}
    {#  width: 75%;#}
    {#  height: 150%;#}
    {#  background: #ffffff;#}
    {#  border-radius: 50%;#}
    {#  position: absolute;#}
    {#  top: 25%;#}
    {#  left: 50%;#}
    {#  transform: translateX(-50%);#}
    {##}
    {#  /* Text */#}
    {#  display: flex;#}
    {#  align-items: center;#}
    {#  justify-content: center;#}
    {#  padding-bottom: 25%;#}
    {#  box-sizing: border-box;#}
    {# }#}
    {##}
    {#meter {#}
    {#    width: 70%;#}
    {#    height: 20px;#}
    {# }#}
    {##}
    {#body {#}
    {#    -ms-overflow-style: none;#}
    {# }#}
    {##}
    {##}
    {#::-webkit-scrollbar {#}
    {#    display: none;#}
    {# }#}
    {##}
    {#/*특정 부분 스크롤바 없애기*/#}
    {#.div {#}
    {#    -ms-overflow-style: none;#}
    {# }#}
    {##}
    {#.div::-webkit-scrollbar {#}
    {#    display: none;#}
    {# }#}
    {##}
    {##border {#}
    {#    border-color: #98a0a4;#}
    {# }#}
    {##}
    {#.highcharts-figure .chart-container {#}
    {#    width: 300px;#}
    {#    height: 200px;#}
    {#    float: left;#}
    {# }#}
    {##}
    {#.highcharts-figure,#}
    {#.highcharts-data-table table {#}
    {#    width: 600px;#}
    {#    margin: 0 auto;#}
    {# }#}
    {##}
    {#.highcharts-data-table table {#}
    {#    font-family: Verdana, sans-serif;#}
    {#    border-collapse: collapse;#}
    {#    border: 1px solid #ebebeb;#}
    {#    margin: 10px auto;#}
    {#    text-align: center;#}
    {#    width: 100%;#}
    {#    max-width: 500px;#}
    {# }#}
    {##}
    {#.highcharts-data-table caption {#}
    {#    padding: 1em 0;#}
    {#    font-size: 1.2em;#}
    {#    color: #555;#}
    {#  }#}
    {##}
    {#.highcharts-data-table th {#}
    {#    font-weight: 600;#}
    {#    padding: 0.5em;#}
    {# }#}
    {##}
    {#.highcharts-data-table td,#}
    {#.highcharts-data-table th,#}
    {#.highcharts-data-table caption {#}
    {#    padding: 0.5em;#}
    {# }#}
    {##}
    {#.highcharts-data-table thead tr,#}
    {#.highcharts-data-table tr:nth-child(even) {#}
    {#    background: #f8f8f8;#}
    {# }#}
    {##}
    {#.highcharts-data-table tr:hover {#}
    {#    background: #f1f7ff;#}
    {# }#}
    {##}
    {#@media (max-width: 600px) {#}
    {#    .highcharts-figure,#}
    {#    .highcharts-data-table table {#}
    {#        width: 100%;#}
    {#    }#}
    {##}
    {#    .highcharts-figure .chart-container {#}
    {#        width: 300px;#}
    {#        float: none;#}
    {#        margin: 0 auto;#}
    {#    }#}
    {# }#}
    {#* {#}
    {#  padding: 0;#}
    {#  margin: 0;#}
    {#  box-sizing: initial;#}
    {# }#}
    {#body {#}
    {#  height: 100vh;#}
    {#  width: 100vw;#}
    {# }#}
    {#.container {#}
    {#  height: 100%;#}
    {#  display: flex;#}
    {#  align-items: center;#}
    {#  justify-content: center;#}
    {# }#}
    {#.logo {#}
    {#  position: relative;#}
    {#  height: 450px;#}
    {#  width: 100px;#}
    {# }#}
    {#.bar {#}
    {#  z-index: 1;#}
    {#  height: 350px;#}
    {#  width: 40px;#}
    {#  background-color: #fefffe;#}
    {#  border-radius: 25px 25px 0 0;#}
    {#  position: absolute;#}
    {#  top: 5px;#}
    {#  left: 50%;#}
    {#  transform: translateX(-50%);#}
    {# }#}
    {##}
    {#.circle {#}
    {#  height: 100px;#}
    {#  width: 100px;#}
    {#  background-color: #fefffe;#}
    {#  position: absolute;#}
    {#  bottom: 0;#}
    {#  border-radius: 50%;#}
    {# }#}
    {#.circle::after {#}
    {#  content: '';#}
    {#  display: block;#}
    {#  width: 60px;#}
    {#  height: 60px;#}
    {#  border-radius: 50%;#}
    {#  background-color: #ff3d00;#}
    {#  position: absolute;#}
    {#  top: 50%;#}
    {#  left: 50%;#}
    {#  transform: translate(-50%, -50%);#}
    {# }#}
    {#.bar::after {#}
    {#  content: '';#}
    {#  display: block;#}
    {#  height: 360px;#}
    {#  width: 20px;#}
    {#  position: absolute;#}
    {#  left: 50%;#}
    {#  transform: translateX(-50%);#}
    {#  bottom: -22px;#}
    {#  border-radius: 10px 10px 0 0;#}
    {#  background-color: #ff3d00;#}
    {#  animation: anim 3s linear infinite;#}
    {# }#}
    {##}
    {#@keyframes anim {#}
    {#  0% {#}
    {#    height: 5%;#}
    {#  }#}
    {#  70% {#}
    {#    height: 100%;#}
    {#  }#}
    {#  100% {#}
    {#    height: 5%;#}
    {#  }#}
    {# }#}

</style>

<!--<script src="C:\Users\user\Desktop\django-datta-able-master_backUp2\django-datta-able-master\apps\static\assets\js\gauge.js"></script>-->

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-md-5 col-xl-3">
                        <div class="card daily-sales">
                            <div class="card-header">
                                <h5>Factory</h5>
                            </div>
                            <div class="card-block">
                                <div style="height: 200px; overflow-y: scroll; display: flex; justify-content:center"
                                     class=" row d-flex align-items-center">
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;" class="mb-3 col-9">
                                        <span style="font-size:100px" class="material-icons">priority_high</span>
                                        <p>reshenie 1공장</p>
                                        <p>설비에 문제가 발생했습니다.</p>
                                    </div>
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;" class="mb-3 col-9">
                                        <span style="font-size:100px" class="material-icons">priority_high</span>
                                        <p>reshenie 2공장</p>
                                        <p>설비에 문제가 발생했습니다.</p>
                                    </div>
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;" class="mb-3 col-9">
                                        <span style="font-size:100px" class="material-icons">priority_high</span>
                                        <p>reshenie 3공장</p>
                                        <p>설비에 문제가 발생했습니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xl-8">
                        <div class="card Monthly-sales">
                            <div class="card-header">
                                <h5>Machines</h5>
                            </div>
                            <div class="card-block">
                                <div style="height:200px; overflow-y:scroll;">
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;" class="m-4 col-5">
                                        <span style="font-size:100px" class="material-icons">priority_high</span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;" class="m-4 col-5">
                                        <span style="font-size:100px" class="material-icons">priority_high</span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;" class="m-4 col-5">
                                        <span style="font-size:100px" class="material-icons">priority_high</span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;" class="m-4 col-5">
                                        <span style="font-size:100px" class="material-icons">priority_high</span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;" class="m-4 col-5">
                                        <span style="font-size:100px" class="material-icons">priority_high</span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-6">
                        <div class="card card-event">
                            <div class="card-header">
                                <h5>Sensor</h5>
                            </div>
                            <div class="card-block">
                                <div style="height:400px;overflow-y: scroll;" class="row align-items-center justify-content-center">
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;" class="m-1 col-10">
                                        <span style="font-size:100px;" class="material-icons-outlined">sensors</span>
                                        <p>센서 1</p>
                                        <p>센서가 정상입니다.</p>
                                    </div>
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;" class="m-1 col-10">
                                        <span style="font-size:100px;" class="material-icons-outlined">sensors_off</span>
                                        <p>센서 2</p>
                                        <p>센서를 확인해주세요.</p>
                                    </div>
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;" class="m-1 col-10">
                                        <span style="font-size:100px;" class="material-icons-outlined">sensors_off</span>
                                        <p>센서 2</p>
                                        <p>센서를 확인해주세요.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Meta</h5>
                            </div>
                            <div style="border-top: 1px solid darkgray; border-bottom: 1px solid darkgray; text-align: left;" class="d-inline-flex p-3 text-white">
                                <p>센서 1</p>
                                    <div class="col-2">
                                        <div class="gauge" id="gauge1">
                                            <div class="gauge_body" id="gauge_body1">
                                                <div class="gauge_fill" id="gauge_fill1"></div>
                                                <div class="gauge_cover" id="gauge_cover1"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 col-10">
                                        <div class="progress" style="margin-bottom:10px;">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                60% (warning)
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div style="border-top: 1px solid darkgray; border-bottom: 1px solid darkgray; text-align: left;" class="d-inline-flex p-3 text-white">
                                <p>센서 2</p>
                                <div class="col-2">
                                    <div class="gauge" id="gauge2">
                                        <div class="gauge_body" id="gauge_body2">>
                                            <div class="gauge_fill" id="gauge_fill2"></div>
                                            <div class="gauge_cover" id="gauge_cover2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 col-10">
                                    <div class="progress" style="margin-bottom:10px">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:80% ">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                60% (warning)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div>
    <script>
        const gaugeElement1 = document.querySelector("#gauge1");
        const gaugeElement2 = document.querySelector("#gauge2");

        const gauge__fill1 = document.querySelector("#gauge_fill1");
        const gauge__fill2 = document.querySelector("#gauge_fill2");
        const temp = {{ context.BarPlot_Board_Temperature | safe }}
        const current_temp = temp
        console.log(current_temp)
        let i = 0;
        //  setGaugeValue 함수 매개변수에 value 에 게이지 값을 넣어주면 됩니다.

        function setGaugeValue(gauge1, gauge2, value, temper) {

          if (value < 0 || value > 1) {
            return;
          }
          gauge1.querySelector("#gauge_fill1").style.transform = `rotate(${
            value / 2 //게이지가 채워 지는 부분 반원을 그리기 위해 2를 나눠줌
          }turn)`;
          gauge1.querySelector("#gauge_cover1").textContent = `${Math.round(
            value * 100
          )}%`;
          gauge2.querySelector("#gauge_fill2").style.transform = `rotate(${
              temper / 200
          }turn)`;
          gauge2.querySelector("#gauge_cover2").textContent = `${Math.round(
            temper
          )}%`;

          i++;
        }

        document.removeEventListener("setGaugeValue", setGaugeValue, {
              passive: false
        });
        //   Interval 함수 사용 타이머 역할
        //   value 는 실수 단위

        setInterval(() => {
            const ran = Math.random();
            console.log(ran)

            if (ran < 0.5) {
              gauge__fill1.style.background = "#009578";
            } else if (ran > 0.5 && ran < 0.8) {
              gauge__fill1.style.background = "#958600";
            } else {
              gauge__fill1.style.background = "#FF0000";
            }

            if (i === temp.length){
              i = 0;
            }
            let temper = current_temp * ran * 2
            if (temper < 20){
                console.log(temper)
                gauge__fill2.style.background = "#009578";
            }else if (30 < temper < 40){
                console.log(temper)
                gauge__fill2.style.background = "#958600";
            }else if (40 < temper < 50){
                console.log(temper)
                gauge__fill2.style.background = "#FF0000";
            }

            setGaugeValue(gaugeElement1, gaugeElement2, ran, temper);

        }, 3 * 1000);

    </script>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}